<div class="cards-list-wrapper">
    <h2>Card list header</h2>
    <div class="filter-sort-group d-flex justify-content-end">
        <div class="sort-direction btn-group d-flex justify-content-end">
            <button class="sort-btn dropdown-toggle" type="button" id="sort-dropdown" 
                data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Сортировка
            </button>
            <ul class="sort-dropdown dropdown-menu dropdown-menu-end" aria-labelledby="sort-dropdown">
                <li><a class="dropdown-item active" href="">Выбор стилистов</a></li>
                <li><a class="dropdown-item" href="">Новинки</a></li>
                <li><a class="dropdown-item" href="">По убыванию цены</a></li>
                <li><a class="dropdown-item" href="">По возрастанию цены</a></li>
            </ul>
        </div>
    </div>
    <div class="cards-wrapper d-flex flex-wrap justify-content-between">
        <!-- cards-list-content -->
    </div>
</div>