<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/_utilities.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- <script src="./header.js"></script> -->
    <script src="../static/js/preload.js"></script>
</head>
<body>
    <div id="header">
        {% include '_header.html' %}
    </div>
    <main id="main" class="justify-content-around">
        <nav class="pointer " aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./index.html">Главная</a></li>
              <li class="breadcrumb-item"><a href="">New-In</a></li>
            </ol>
        </nav>
        <div class="cards-list-wrapper">
            <h2>NEW IN</h2>
            <div class="filter-sort-group d-flex justify-content-end">
                <div class="sort-direction btn-group d-flex justify-content-end">
                    <button class="sort-btn dropdown-toggle" type="button" id="sort-dropdown" 
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Сортировка
                    </button>
                    <ul class="sort-dropdown dropdown-menu dropdown-menu-end" aria-labelledby="sort-dropdown">
                        <li><a class="dropdown-item active" href="">Выбор стилистов</a></li>
                        <li><a class="dropdown-item" href="">Новинки</a></li>
                        <li><a class="dropdown-item" href="">По убыванию цены</a></li>
                        <li><a class="dropdown-item" href="">По возрастанию цены</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-wrapper d-flex flex-wrap justify-content-between">
                <div class="card" title="топ с вырезом халтер">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod1">
                        <label class="icon d-flex flex-row" for="prod1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod1.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Prada
                            </div>
                            <div class="description">
                                топ с вырезом халтер
                            </div>
                            <div class="cost">
                                20 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod2">
                        <label class="icon d-flex flex-row" for="prod2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod2.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                TOM FORD
                            </div>
                            <div class="description">
                                клатч с тиснением под кожу крокодила
                            </div>
                            <div class="cost">
                                15 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod3">
                        <label class="icon d-flex flex-row" for="prod3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod3.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Prada
                            </div>
                            <div class="description">
                                замшевая юбка миди
                            </div>
                            <div class="cost">
                                25 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod4">
                        <label class="icon d-flex flex-row" for="prod4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod4.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Saint Laurent
                            </div>
                            <div class="description">
                                туфли д'Орсе
                            </div>
                            <div class="cost">
                                10 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="presentation-wrapper d-flex flex-row justify-content-around">
            <div class="presentation d-flex justify-content-center flex-wrap">
                <div class="wrapper d-flex flex-column justify-content-center">
                    <div class="header d-inline-flex justify-content-center">
                        <h2 class="d-inline-flex">
                            мир brunello cucinelli
                        </h2>
                    </div>
                    <div class="text d-flex justify-content-center">
                        <p>
                            Один дизайнер, три города, три творческие личности. Мы запускаем новую рубрику The World Of, в котором покажем, как творения лучших дизайнеров носят разные люди со всего мира.
                        </p>
                    </div>
                    <div class="link-button d-inline-flex justify-content-center">
                        <a href="">
                            <button type="button">Читать дальше</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="../static/source/img/image5.png" alt="">
            </div>
        </div>
        <div class="accessories-presentation-wrapper d-flex flex-row">
            <div class="accessories-presentation d-flex flex-column">
                <img src="../static/source/img/image6.png" alt="">
                <h2>Аксессуары для вечеринки</h2>
                <p>Оцените праздничные туфли и сумки от Prada и других брендов.</p>
            </div>
        </div>
        <div class="cards-list-wrapper">
            <h3>Прозрачные ткани</h3>
            <div class="cards-wrapper d-flex flex-wrap justify-content-between">
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod5">
                        <label class="icon d-flex flex-row" for="prod5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod5.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Simone Rocha
                            </div>
                            <div class="description">
                                платье миди Creature
                            </div>
                            <div class="cost">
                                20 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod6">
                        <label class="icon d-flex flex-row" for="prod6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod6.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Mugler
                            </div>
                            <div class="description">
                                мюли Fang 20
                            </div>
                            <div class="cost">
                                15 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod7">
                        <label class="icon d-flex flex-row" for="prod7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod7.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Oroenza Schouler
                            </div>
                            <div class="description">
                                пальто Finch
                            </div>
                            <div class="cost">
                                45 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="favourite" title="Добавить в избранное">
                        <input class="checkbox" type="checkbox" id="prod8">
                        <label class="icon d-flex flex-row" for="prod8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </label>
                    </div>
                    <a href="./product.html">
                        <div class="card-body d-flex flex-column">
                            <img src="../static/source/img/prod8.png" alt="">
                        </div>
                        <div class="card-text">
                            <div class="season">
                                Новый сезон
                            </div>
                            <div class="brand">
                                Docle & Gabana
                            </div>
                            <div class="description">
                                сетчатая юбка-карандаш
                            </div>
                            <div class="cost">
                                20 000 &#x20bd;
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="topic-cards-wrapper d-flex flex-row justify-content-between">
            <div class="topic-card">
                <a href="">
                    <img src="../static/source/img/topicImage1.png" alt="">
                    <p>Лучшие пальто</p>
                </a>
            </div>
            <div class="topic-card">
                <a href="">
                    <img src="../static/source/img/topicImage2.png" alt="">
                    <p>Новые сумки</p>
                </a>
            </div>
            <div class="topic-card">
                <a href="">
                    <img src="../static/source/img/topicImage3.png" alt="">
                    <p>Главное от prada</p>
                </a>
            </div>
            <div class="topic-card">
                <a href="">
                    <img src="../static/source/img/topicImage4.png" alt="">
                    <p>Стильные сапоги</p>
                </a>
            </div>
        </div>
        <div id="questions-section">
            {% include './_questions-section.html' %}
        </div>
        <div id="subscribe-section">
            {% include './_subscribe-section.html' %}
        </div>
    </main>
    <div id="footer">
        {% include './_footer.html' %}
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>