<div class="cart-item d-flex flex-row">
    <img src="../source/img/prod1.png" alt="">
    <div class="purchase-info d-flex flex-row flex-fill justify-content-between">
        <div class="short-info">
            <p class="season">Season</p>
            <p class="brand">Brand</p>
            <p class="description">Description</p>
        </div>
        <div class="cost-info">
            <p class="cost">Cost &#x20bd;</p>
            <p class="duties">Duties included</p>
        </div>
        <div class="size-quanity-wrapper">
            <div class="size">
                <p class="header">Size</p>
                <p class="value">M</p>
            </div>
            <div class="quanity">
                <p class="header">Quanity</p>
                <p class="value">1</p>
            </div>
            <div class="added-to-favourite">
                <div class="favourite" title="Добавить в избранное">
                    <input class="checkbox" type="checkbox" id="prodId" checked>
                    <label class="icon d-flex flex-row" for="prodId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path class="heart" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    </label>
                </div>
                Добавлено в избранное
            </div>
        </div>
        <button class="btn-close" type="button"></button>
    </div>
</div>