<head>
    <link rel="stylesheet" href="../static/css/_footer.css">
</head>
<footer>
    <div class="navbar-wrapper d-flex flex-row justify-content-between">
        <div class="for-clients-wrapper">
            <h6>Для клиентов</h3>
            <ul class="navbar-text">
                <li><a href="">Помощь и контакты</a></li>
                <li><a href="">Вопросы и ответы</a></li>
                <li><a href="">Заказы и доставка</a></li>
                <li><a href="">Возврат</a></li>
                <li><a href="">Цены и оплата</a></li>
                <li><a href="">Оплата криптовалютой</a></li>
                <li><a href="">Условия акций</a></li>
                <li><a href="">Гарантии</a></li>
            </ul>
        </div>
        <div class="about-us-wrapper">
            <h6>О НАС</h6>
            <ul class="navbar-text">
                <li><a href="">О компании</a></li>
                <li><a href="">Бутики-парнеры</a></li>
                <li><a href="">Вакансии</a></li>
                <li><a href="">Приложение</a></li>
                <li><a href="">Заявление о борьбе с современным рабством</a></li>
            </ul>
        </div>
        <div class="discounts-and-programms-wrapper">
            <h6>Скидки и программы</h6>
            <ul class="navbar-text">
                <li><a href="">Аффилитивная программа</a></li>
                <li><a href="">Программа лояльности</a></li>
                <li><a href="">Скидки для студентов</a></li>
                <li><a href="">Скидки для работников</a></li>
                <li><a href="">Пожертвования и скидки</a></li>
                <li><a href="">Социальная скидка</a></li>
            </ul>
        </div>
        <div class="fushion-and-subcribe-wrapper">
            <h6>Устойчивая мода</h6>
            <div class="fashion d-flex flex-column">
                <ul class="navbar-text">
                    <li><a href="">Refresh: освободите гардероб</a></li>
                    <li><a href="">Second Life: ретейл-сервис для сумок</a></li>
                </ul>
            </div>
            <div class="subscribe-section">
                <h6>Подпишитесь на НАС</h6>
                <div class="icons-wrapper d-flex flex-row">
                    <div class="instagram-link icon">
                        <a href="">
                            <img src="../static/source/logos/instagram-logo.svg " alt="">
                        </a>
                    </div>
                    <div class="vk-link icon">
                        <a href="">
                            <img src="../static/source/logos/vk-logo.svg" type="icon" alt="">
                        </a>
                    </div>
                    <div class="ok-link icon">
                        <a href="">
                            <img src="../static/source/logos/ok-logo.svg" type="icon" alt="">
                        </a>
                    </div>
                    <div class="telegram-link icon">
                        <a href="">
                            <img src="../static/source/logos/telegram-logo.svg" type="icon" alt="">
                        </a>
                    </div>
                    <div class="youtube-link icon">
                        <a href="">
                            <img src="../static/source/logos/youtube-logo.svg" type="icon" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>